@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;

  @include tablet {
    font-size: 80%;
  }

  @include mobile {
    font-size: 60%;
  }
}

body {
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.5;

  background-color: $body-bg;
  color: $txt-color;

  @include mobile {
    margin-bottom: 3rem;
  }
}

.container {
  max-width: 1400px;
  margin: auto;
}

section {
  margin-top: 3rem;
}

.layoutContent {
  margin-top: $header-height;
  @include mobile {
    margin-top: $header-shrink-height;
  }
}
.section__header {
  @include flex(center, space-between);
}

.main {
  margin-top: $header-height;
  margin-bottom: 2rem;
  min-height: 100vh;
}
