.user {
  margin-top: $header-height + 4;
  margin-bottom: 10rem;
  &__infoo {
    padding-bottom: 3rem;
    border-bottom: 5px solid white;
    button {
      transform: scale(0.8);
      margin-top: -8px;
    }
  }
  &__info {
    &__name {
      input {
        background-color: transparent;
        outline: $main-color;
        color: white;
        padding: 0px 1rem;
      }
    }
  }

  &__repository {
    &__container {
      display: flex;
      button {
        width: 100%;
        & ~ button {
          margin-top: 1rem;
        }
      }
    }
    &__container__select {
      padding: 0px 1rem;
      width: 25%;
    }
    &__container__card {
      border-left: 2px solid white;
      padding-left: 2rem;
      width: 75%;
      .card {
        padding-top: 28%;
        width: 200px;
      }
      h5 {
        font-size: 0.85rem;
      }
    }
  }
}
