.footer {
  background-image: url("../assets/footer-bg.jpg");
  background-position: center;
  background-size: contain;
  .container {
    padding: 3rem 0;
    @include mobile {
      padding-bottom: 6rem;
    }
  }
  &__logo {
    @include flex(center, center);
    padding: 2rem 0;
    img {
      width: 60px;
      margin-right: 0.5rem;
    }
    a {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  &__menu {
    margin-right: 0;
  }
  &__menu__item {
    text-align: center;
    @include tablet {
      & ~ & {
        margin-top: 3.5rem;
      }
    }

    a {
      display: block;
      margin-top: 1.5rem;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}
