.hero-slide__item {
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.534);
    top: 0;
    left: 0;
  }
  &__content {
    @include flex(center, space-between);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__poster {
      width: 30%;
      img {
        border-radius: $border-radius;
      }
      transform: scale(0);
    }
    &__info {
      width: 60%;
      &__title {
        font-size: 3.25rem;
        font-weight: bold;
        margin: 0;
        padding: 0;
        opacity: 0;
      }
      &__overview {
        font-size: 1.25rem;
        font-weight: 500;
        margin: 3rem 0;
        line-height: 1.5;
        opacity: 0;
      }
      &__button {
        opacity: 0;
      }
    }
  }

  &.active {
    .container {
      .hero-slide__item__content__poster {
        animation: scalePoster 0.8s cubic-bezier(0, 0.51, 0.08, 1.29) forwards;
      }
      .hero-slide__item__content__info {
        &__title {
          animation: dropDown 0.8s ease forwards;
          animation-delay: 0.5s;
        }
        &__overview {
          animation: dropDown 0.8s ease forwards;
          animation-delay: 0.8s;
        }
        &__button {
          animation: dropDown 0.8s ease forwards;
          animation-delay: 1.1s;
        }
      }
    }
  }
}

@keyframes scalePoster {
  to {
    transform: scale(1);
  }
}
@keyframes dropDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
