a {
  text-decoration: none;
  color: unset;
}
a:hover {
  color: $main-color;
}

button,
input {
  outline: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

iframe {
  border: 0;
}
