.search {
  @include flex(center, center);
}

.search__input {
  width: 80%;
  padding: 12px;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid transparent;
  outline: none;
  &:focus {
    border: 1px solid $main-color;
  }
}
.search__btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  border-radius: 0px 8px 8px 0px;
  background-color: $main-color;
  color: $white;
  border: 1px solid $main-color;
  box-shadow: 0px 0px 7px 4px #00ff154d;
  &:hover {
    box-shadow: 0px 0px 7px 8px #00ff154d;
    transition: 0.3s;
  }
}
